#home {
  background-image: url("../images/background-image-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  background-color: #001233; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    black,
    #001233,
    #33415c,
    #5c677d,
    #33415c,
    #001233
  );
}

.footer {
  color: white;
  background-color: #001233;
}

#parksTitle,
#contactTitle {
  color: white;
}

.navbar,
.navbar-burger,
.burger,
.navbar-menu {
  background-color: #001233;
}

#modalButton {
  background-color: #0466C8;
}

#moonPhaseSection{
   color:white;
   text-align: center;
   justify-content: center;
   font-size: xx-large;
}


#moon-pix{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#nasaLink {
  color: white;
  text-decoration: underline;
}





/*Park Card styling section*/

/*Sets the height to the same for all the cards on the page*/
.card {
  max-height: 100%;
}

/*Set's the internal Park Card styling*/
.parkInfoCard {
  text-align: center;
  border-radius: 3px;
}

.parkInfoCard img {
  justify-content: center;
  margin-top: 0px;
  border-radius: 2px 2px 0px 0px;
}

.parkInfoCard__Description {
  margin: 10px 10px 10px 10px;
  text-align: left;
}

.parkInfoCard__TitleLink {
  font-size: 26px;
}

.parkInfoCard__AddressBlock {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

/*Notes section styling*/
label {
  font-size: 20px;
}

button {
  margin: 5px 0px 5px 0px;
}

/*End of notes styling*/
