#home {
  background-image: url("../images/background-image-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  background-color: #001233; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    black,
    #001233,
    #33415c,
    #5c677d,
    #33415c,
    #001233
  );
}

.footer {
  color: white;
  background-color: #001233;
}

#parksTitle,
#contactTitle {
  color: white;
}

.navbar,
.navbar-burger,
.burger,
.navbar-menu {
  background-color: #001233;
}

/*Park Card flex options - inserted by Jeff for testing, remove before production.*/
/* #parkCards {
  display: flex;
} /* or inline-flex */

/*Park Card styling section*/

/*Sets the height to the same for all the cards on the page*/
.card {
  max-height: 100%;
}

/*Set's the internal Park Card styling*/
.parkInfoCard {
  text-align: center;
  border-radius: 3px;
}

.parkInfoCard img {
  justify-content: center;
  margin-top: 0px;
  border-radius: 2px 2px 0px 0px;
}

.parkInfoCard__Description {
  margin: 10px 10px 10px 10px;
  text-align: left;
}

.parkInfoCard__TitleLink {
  font-size: 26px;
}

.parkInfoCard__AddressBlock {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

/*Notes section styling*/
label,
input {
  font-size: 20px;
}

input {
  max-width: 100%;
  width: 300px;
}

.notesEntry {
  max-width: 100%;
  width: 600px;
  height: 400px;
  border-radius: 6px;
}

button {
  background-color: rgb(10, 0, 148);
  font-size: 20px;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  margin-top: 3px;
}
