

#home {
  background-image: url("../images/background-image-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  background-color: #001233; /* For browsers that do not support gradients */
  background-image: linear-gradient(black, #001233,#33415C, #5C677D, #33415C, #001233);
}

.footer {
  color: white;
  background-color: #001233;
}

#parksTitle, #contactTitle {
  color:white;
}

.navbar,
.navbar-burger,
.burger,
.navbar-menu
 {
  background-color: #001233
}





